---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SectionSponsors from '../components/SectionSponsors.astro';
import SectionAbout from '../components/SectionAbout.astro';
import SectionAgenda from '../components/SectionAgenda.astro';
import SectionVenue from '../components/SectionVenue.astro';
import SectionFAQ from '../components/SectionFAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Colombia Tierra Querida - 20 de Julio 2025">
    <Navbar />
    <main>
        <Hero />
        <SectionSponsors />
        <SectionAbout />
        <SectionAgenda />
        <SectionVenue />
        <SectionFAQ />
    </main>
    <Footer />
</Layout>
