@import "tailwindcss";

@theme {
  --color-primary: #193DB8;
  --color-accent: #D0102C;
  --color-secondary: #FFC800;
  
  --font-anton: 'Anton', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  @apply antialiased;
}